[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djoser = "*"
whitenoise = "*"
channels = "*"
channels-redis = "*"
Django = "*"
djangorestframework = "*"
django-crispy-forms = "*"
python-dotenv = "*"
django-heroku = "*"
django-cors-headers = "*"
Pillow = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
pytest-django = "*"
django-extensions = "*"
lark = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
